a{
    text-decoration: none;
    color: gray;
}
/*----------------------------*\
	menu
\*----------------------------*/
#nav .container {
    position: relative;
}
#nav-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 90;
    background-color: #FFF;
    -webkit-box-shadow: 0px -2px 0px 0px #eceef2 inset;
    box-shadow: 0px -2px 0px 0px #eceef2 inset;
}

.cat-1 a:after, .cat-1 a:hover {
    color: #4BB92F;

}
.cat-2 a:after, .cat-2 a:hover {
    color: #ff8700;
}
.cat-3 a:after, .cat-3 a:hover {
    color: #0078ff;
}

/*----------------------------*\
	logo
\*----------------------------*/

.nav-logo{
    font-family: "STKaiti";
    font-size: 1.5em;
    display: inline-block;  
    padding-left: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
.nav-logo a{
    color: rgb(80, 79, 79);  
}

/*----------------------------*\
	menu
\*----------------------------*/

.nav-menu{
    display: inline-block;
}
.nav-menu li {
    display: inline-block;
}
.nav-menu li a {
    padding: 15px 15px;
}

/*----------------------------*\
	log-in
\*----------------------------*/

.nav-log-in{    
    display: inline-block;
    float: right;
}
.nav-log-in li{
    display: inline-block;
}
.nav-log-in li a {
    padding: 15px 20px;
    box-shadow: -1px 0px 0px 0px #eceef2 inset;
}

/*----------------------------*\
	anchor
\*----------------------------*/

#anchor{
    position: relative;
}

/*----------------------------*\
	recommend
\*----------------------------*/

#recommend {
    position: absolute;
    top: 2.5em;
    display: inline-block;
    width: 65%; 
    padding-left: 1em;   
}

#recommend-title{
    color: gray;
}

.img-container{
    background-image: url("img/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 25.5em;
}

#recommend-detail{
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    font-family: "宋体"
}

.recommend-activity-name{
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}

.recommend-activity-name {
    line-height: .3em;
}

.recommend-activity-detail{
    color: white;
}


/*----------------------------*\
	new
\*----------------------------*/

#new{
    display: inline-block;
    position: absolute;
    top: 2.5em;
    left: 68.5%;
    width: 27%; 
    height: 30em;
    padding-right: 1em; 
    padding-left: 1em;      
    box-shadow: 1px 0px 0px 0px #eceef2 inset;
}

#new-title{
    color: gray;
}

#new-col-title{
    float: left;
}

#new-col-more{
    float: right;
    font-size: small;
}

#new-activities{
    clear: both;
}

.activity{
    padding-left: .6em;    
}


.activity-img{
    width: 40%;
    height: 30%;
    float: left;
}
.activity-description{
    width: 55%; 
    height: 30%;
    float: left;
    padding-left: .5em;
    color: gray;
}

.new-activity-name{
    line-height: 0em;
}

.activity-description:hover{
    color: #4BB92F;
}

.new-activity-time{
    font-size: small;
}

.new-activity-holder{
    font-size: small;
    line-height: .2em;
}

.new-clear1{
    clear: both;
    height: .7em;
}

.new-clear{
    clear: both;
    height: .7em;
    box-shadow: 0px 1px 0px 0px #eceef2 inset;
}


/*----------------------------*\
	log_in
\*----------------------------*/
#log-in{
    position: absolute;
    top: 5em;
    left: 35%;
    text-align: center;
}

form p > * {  
    display: inline-block;  
    vertical-align: middle;  
    box-shadow: 1px 1px 1px rgb(199, 197, 197);
}  

  
.label_input {  
    font-size: 14px;  
    font-family: 宋体;  
  
    width: 65px;  
    height: 31px;  
    line-height: 28px;  
    text-align: center;  
  
    color: grey;  
    background-color: whitesmoke;  
    border-top-left-radius: 5px;  
    border-bottom-left-radius: 5px;  

    
}  
  
.text_field {  
    width: 278px;  
    height: 28px;  
    border-top-right-radius: 5px;  
    border-bottom-right-radius: 5px;  
    border: 0;  
    outline: none;
}  
  
#btn_login {  
    font-size: 14px;  
    font-family: 宋体;  
  
    width: 120px;  
    height: 28px;  
    line-height: 28px;      
    text-align: center;  
  
    color: grey;  
    background-color: whitesmoke;  
    border-radius: 6px;  
    border: 0;  
  
    box-shadow: 1px 1px 1px rgb(199, 197, 197);
}  

/*----------------------------*\
	register
\*----------------------------*/
#register{
    position: absolute;
    top: 5em;
    left: 35%;
    text-align: center;
}

form p > * {  
    display: inline-block;  
    vertical-align: middle;  
    box-shadow: 1px 1px 1px rgb(199, 197, 197);
}  

  
.register-label_input {  
    font-size: 14px;  
    font-family: 宋体;  
  
    width: 120px;  
    height: 31px;  
    line-height: 28px;  
    text-align: center;  
  
    color: grey;  
    background-color: whitesmoke;  
    border-top-left-radius: 5px;  
    border-bottom-left-radius: 5px;  

    
}  
  
.register-text_field {  
    width: 278px;  
    height: 28px;  
    border-top-right-radius: 5px;  
    border-bottom-right-radius: 5px;  
    border: 0;  
    outline: none;
}  
  
#btn_register {  
    font-size: 14px;  
    font-family: 宋体;  
  
    width: 120px;  
    height: 28px;  
    line-height: 28px;      
    text-align: center;  
  
    color: grey;  
    background-color: whitesmoke;  
    border-radius: 6px;  
    border: 0;  
  
    box-shadow: 1px 1px 1px rgb(199, 197, 197);
    outline: none;
}  

#btn_register:active, #btn_register:hover{
    color: #4BB92F;
}

/*----------------------------*\
	activity-detail
\*----------------------------*/

#vice-anchor{
    position: absolute;
    top: 3.5em;
    left: 0;
    right: 0;
    bottom: 0;
    /* cool! exactly the method i want to make box center! mark mark mark*/
}

#activity-detail-container{
    width: 60%;    
    margin: 0 auto;
    color: grey;
}

#activity-detail-img{
    width: 100%;
    height: 27em;
    background-image: url("img/4.jpg");
    background-size: cover; 

}

#activity-detail-title{
    font-size: xx-large;
    font-weight: bold;
}

/*----------------------------*\
	all-activity
\*----------------------------*/

#all-activity-container{
    width: 55%;    
    margin: 0 auto;
    color: grey;
}

.activity-abstract-img{
    background-image: url("img/1.jpg");
    height: 10em;
    width: 35%;
    float: left;
    background-size: cover; 
}

.activity-abstract-descriptions{
    height: 10em;
    width: 60%;
    float: left;
    vertical-align: top;
    padding-left: 1em;
}

.activity-abstract-descriptions p{
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
    width: 100%;
}
.href-acitivity-abstruct:hover{
    color: #4BB92F;
}

/*----------------------------*\
	add
\*----------------------------*/

#add-container{
    width: 55%;    
    margin: 0 auto;
    color: grey;
}

form p > * {  
    display: inline-block;  
    vertical-align: middle;  
    box-shadow: 1px 1px 1px rgb(199, 197, 197);
}  

  
.add-label_input {  
    font-size: 14px;  
    font-family: 宋体;  
  
    width: 120px;  
    height: 31px;  
    line-height: 28px;  
    text-align: center;  
  
    color: grey;  
    background-color: whitesmoke;  
    border-top-left-radius: 5px;  
    border-bottom-left-radius: 5px;  

    
}  
  
.add-text_field {  
    width: 80%;  
    height: 28px;  
    border-top-right-radius: 5px;  
    border-bottom-right-radius: 5px;  
    border: 0;  
    outline: none;
}  
  
#btn_add {  
    font-size: 14px;  
    font-family: 宋体;  
  
    width: 120px;  
    height: 28px;  
    line-height: 28px;      
    text-align: center;  
  
    color: grey;  
    background-color: whitesmoke;  
    border-radius: 6px;  
    border: 0;  
  
    box-shadow: 1px 1px 1px rgb(199, 197, 197);
    outline: none;
}  

#btn_add:active, #btn_add:hover{
    color: #4BB92F;
}

#my-advitity-description{
    height: 10em;
}

#add-dscrption{
    vertical-align: top;
}